 * {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #f5f5f5;
  margin: 100px;
  line-height: 1.5;
}


@-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

.my-modal {
  max-height: 100%;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
    width: 700px;
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(135deg, #C33764, #1D2671);
    border-radius: 10px 10px 0px 0px;
    display: grid;
    position: relative;
    z-index: 2;
}



.my-modal.close {
  max-height: 0;
  opacity: 0;
  z-index: -1;
}


.my-form label {
  font-size: 24px;
}

.my-form input[type="text"],
.my-form input[type="checkbox"],
.my-form input[type="radio"],
.my-form select {
  width: 100%;
  font-size: 18px;
  padding: 14px;
  margin: 10px 0;
}

.my-form input[type="checkbox"],
.my-form input[type="radio"] {
  width: 18px;
  height: 18px; /* Adjust the size as desired */
}

.my-form select {
  width: 70%;
}


/* #toggle-button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
} */



button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background: rgb(29, 38, 113);
  margin: 10px;
  font-size: 16px;
}

 .my-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  font-size: 18px;
  width: 80%;
  padding: 20px;
}

.my-form .line {
  display: flex;
  align-items: center;
}

.my-form label {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.my-form input[type="text"],
.my-form select {
  width: 100%;
  font-size: 18px;
  padding: 14px;
  margin: 10px 0;
}

.my-form input[type="checkbox"],
.my-form input[type="radio"] {
  width: 18px;
  height: 18px;
}


#my-header {
  padding-left: 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}



#overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.other {
  position: relative;
  z-index: 2;
}

.shownSpinner {
  display: block;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid purple; 
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }

  .hideSpinner {
    display: block;
    }


  .button-clicked {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

  .shownSpinner {
      margin-left: 20px; 
  }

  .title {
    color: white;
    font-size: 24px;
    padding-left: 40px;
    
  }

  .main-content {
    display: none;
  }

  .main-content.shown {
    display: block;
  }

  